body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#searchInput {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
}

form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: none;
}
