body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #searchInput {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
  }
  
  form {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 18%;
    box-sizing: border-box;
  }
  
  form input#addMaquina, form input#addGrupo, form input#addCantidad {
    width: 12%;
  }
  
  form button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: auto;
    margin-top: 10px;
    background-color: #218838;
  }
  
  #saveButton {
    background-color: #28a745;
    color: white;
  }
  
  #saveButton:hover {
    background-color: #218838;
  }
  
  #cancelButton {
    background-color: #dc3545;
    color: white;
    display: none;
  }
  
  #cancelButton:hover {
    background-color: #c82333;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    text-align: center; /* Centra todo el contenido de los encabezados */
    background-color: #007bff;
    color: white;
  }
  
  /* Center content for specific columns */
  td:nth-child(3), /* Columna Máquina */
  td:nth-child(4), /* Columna Grupo */
  td:nth-child(6), /* Columna Cantidad */
  td:nth-child(7) { /* Columna Acciones (botones) */
    text-align: center; /* Centramos el contenido */
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  table .action-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
  
  table .action-buttons button {
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  table .edit-button {
    background-color: #ffc107;
    color: white;
  }
  
  table .edit-button:hover {
    background-color: #e0a800;
  }
  
  table .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  table .delete-button:hover {
    background-color: #c82333;
  }
  
  .alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: none;
  }
  
  #success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }
  
  #error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }
  
  /* Pagination Styles */
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: default;
  }
  
  /* Estilo para el botón "+" */
  .expand-button {
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .expand-button.expanded {
    background-color: #dc3545;
  }

  @media (max-width: 768px) {
    .expand-button {
      display: inline-block;
    }

    td:first-child {
      padding-right: 40px; /* Espacio para el botón de expansión */
    }
  }
  
  /* Ocultar las columnas por defecto */
  .hidden {
    display: none;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    /* Ocultar elementos en móviles */
    #addPartForm,
    #resetearTodos,
    .edit-button,
    .delete-button {
        display: none !important;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr {
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
    
    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left; /* Alinear a la izquierda */
    }
    
    td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
        text-align: right; /* Alinear a la derecha */
    }
    
    /* Ocultar todas las celdas excepto la primera (REFERENCIA) por defecto */
    td:not(:first-child) {
        display: none;
    }
    
    /* Mostrar la celda de acciones */
    td:last-child {
        display: none; /* Cambiado de block a none para ocultar los botones de acción */
    }
    
    /* Estilo para el botón de expansión */
    .expand-button {
        display: inline-block;
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Asegurar que la paginación sea visible */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
  }
  
  /* Mantener los estilos originales para pantallas más grandes */
  @media (min-width: 769px) {
    th {
        text-align: center;
    }

    td:nth-child(3), /* Columna Máquina */
    td:nth-child(4), /* Columna Grupo */
    td:nth-child(6), /* Columna Cantidad */
    td:nth-child(7) { /* Columna Acciones (botones) */
        text-align: center;
    }
  }
  
  .info-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(248, 249, 250, 0.8);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .info-item:first-child {
    margin-left: 0;
  }
  
  .info-item i {
    font-size: 1em;
    margin-right: 5px;
    color: #007bff;
  }
  
  .info-item span {
    color: #333;
  }
  
  /* Ajuste para dispositivos móviles */
  @media (max-width: 768px) {
    .info-bar {
        position: static;
        justify-content: center;
        margin-bottom: 10px;
    }
  }
  
  .info-item:last-child {
    margin-left: 10px;
  }

  .info-item:last-child span {
    font-size: 1.2em;
  }
  
  .progress-bar {
    width: 0;
    height: 5px;
    background-color: #4CAF50;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.5s;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
  }

  .admin-button {
    display: none;
  }
  
  @media (max-width: 768px) {
    body {
        font-size: calc(16px + 0.5vw); /* Aumenta gradualmente según el ancho de la pantalla */
    }

    h1 {
        font-size: calc(20px + 1vw);
    }

    #searchInput {
        font-size: calc(14px + 0.5vw);
    }

    table {
        font-size: calc(16px + 0.5vw);
    }

    .pagination button {
        font-size: calc(14px + 0.5vw);
    }
  }
  
  .actions-column {
    display: none;
  }

  .pagination #pageInfo {
    padding: 8px 16px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bold;
  }
  
  .actions-column {
    display: none;
  }
